<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!!</h1>
    <form action="/hello" method="post">
        入力：<input type="text" name="text1">
        <input type="submit" value="click">
    </form>
    <form action="/hello/db" method="post">
        従業員：<input type="text" name="text2" >
        <input type="submit" value="click">
    </form>
</body>
</html>